<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <ul>
      <li>?xss= &lt;script&gt; alert(0) &lt;script&gt;</li>
      <li>?xss= &lt;iframe src="https:www.baidu.com"&gt;&lt;/iframe&gt; </li>
    </ul>

    <div>
      <%= xss %>
    </div>
		<div>
			<%- xss %>
		</div>
    <textarea name="name" id="" cols="30" rows="10" id="txt">
    	<p>sks <img src="null" alt="" onerror="alert(1)"></p>
    </textarea>

    <button name="button" id="btn">评论</button>
    <button name="button" id="get">获取评论</button>
  </body>
</html>
